<h3>Charts</h3>
<div class="row>">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Trip Frequency Distribution</h4>
    </div>
    <div class="panel-body">
      <div id="chart-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
  </div>
</div>
<div class="row" style="">
  <div class="col-xs-3 col-md-3"></div>
  <div class="col-xs-6 col-md-5">

    <div class="panel status panel-info">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><p id="totalTripStat"></p></h1>
      </div>
      <div class="panel-body text-center">
        <strong>Total Trips</strong>
      </div>
    </div>


  </div>
</div>

</div>
