<h3>Dashboard</h3>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div> <h4>Map</h4> </div>
    </div>
    <div class="panel-body">
      <div class="row" style="margin-left: 10%">
        <div class="dropdown col-sm-4">
          <div class="form-group">
            <strong>From Date:</strong>
            <div class='input-group date' id='datetimepickerFromDate'>
              <input type='text' class="form-control" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
            </div>
          </div>
        </div>
        <div class="dropdown col-sm-4">
          <div class="form-group">
            <strong>To Date:</strong>
            <div class='input-group date' id='datetimepickerToDate'>
              <input type='text' class="form-control" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
            </div>
          </div>
        </div>
      <div class = "col-sm-3" style="margin-left: 5%; margin-top: 15px">
        <button class="btn btn-success" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Filter
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a title="trip">Trips</a></li>
          <li><a title="pickup">Pickup Points</a></li>
          <li><a title="dropdown">Drop-Off Points</a></li>
        </ul>
      </div>
      </div>
      <div id='map'>
      </div>
    </div>
  </div>

