
  <h3>Dashboard</h3>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <p>Map</p>
    </div>
    <div class="panel-body">
      <div id='map'>
      </div>
      <script>
        /*mapboxgl.accessToken = 'pk.eyJ1Ijoia2tkb29uIiwiYSI6ImNpdWMwanltYjAwNmIyeXAyejBxYjlkY2QifQ.kdMjB6xkE-W-P4ff4y0ujg';
        var map = new mapboxgl.Map({
          container: 'map', // container id
          style: 'mapbox://styles/mapbox/streets-v9',
          center: [-74.50, 40], // starting position
          zoom: 9 // starting zoom
        });*/
        L.mapbox.accessToken = 'pk.eyJ1Ijoia2tkb29uIiwiYSI6ImNpdWMwanltYjAwNmIyeXAyejBxYjlkY2QifQ.kdMjB6xkE-W-P4ff4y0ujg';
        var geojson = {
          type: 'FeatureCollection',
          features: [
            {
              "type": "Feature",
              "geometry": {
                "type": "Point",
                "coordinates": [-77.03238901390978,38.913188059745586]
              },
              "properties": {
                "title": "Mapbox DC",
                "description": "1714 14th St NW, Washington DC",
                "marker-color": "#fc4353",
                "marker-size": "large",
                "marker-symbol": "monument"
              }
            },
            {
              "type": "Feature",
              "geometry": {
                "type": "Point",
                "coordinates": [-122.414, 37.776]
              },
              "properties": {
                "title": "Mapbox SF",
                "description": "155 9th St, San Francisco",
                "marker-color": "#fc4353",
                "marker-size": "large",
                "marker-symbol": "harbor"
              }
            }
          ]
        };
        L.mapbox.map('map', 'mapbox.streets')
          .setView([37.8, -96], 4)
          .featureLayer.setGeoJSON(geojson);
      </script>
    </div>
  </div>

