<h3>Dashboard</h3>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Statistics</h4>
  </div>
  <div class="panel-body">
    <div id = 'load' class="text-center hide" style="margin-left: 45%"></div>
    <div id='map'>
    </div>
    <!--div id='loader' class="hide"><span class='message'>loading</span></div!-->
    <script>
      L.mapbox.accessToken = 'pk.eyJ1Ijoia2tkb29uIiwiYSI6ImNpdWMwanltYjAwNmIyeXAyejBxYjlkY2QifQ.kdMjB6xkE-W-P4ff4y0ujg';
      var loader = document.getElementById('load');
      var map = L.mapbox.map('map', 'mapbox.streets')
        .setView([40.77, -73.88], 11);
      var featureGroup = L.featureGroup().addTo(map);
      var featureLayer = L.mapbox.featureLayer()
        .loadURL('http://localhost:8080/v1/draw/trip')
        .addTo(map);

      var drawControl = new L.Control.Draw({
        edit: {
          featureGroup: featureGroup
        },
        draw: {
          polygon: true,
          polyline: false,
          rectangle: false,
          circle: false,
          marker: false
        }
      }).addTo(map);

      map.on('draw:created', showPolygonArea);
      map.on('draw:edited', showPolygonAreaEdited);

      function showPolygonAreaEdited(e) {
        e.layers.eachLayer(function(layer) {
          showPolygonArea({ layer: layer });
        });
      }

      function showPolygonArea(e) {
        featureGroup.clearLayers();
        featureGroup.addLayer(e.layer);
        console.log(e.layer._latlngs);
        e.layer.bindPopup((LGeo.area(e.layer) / 1000000).toFixed(2) + ' km<sup>2</sup>');
        e.layer.openPopup();
        var requestObj = getPolygonJsonArray(e.layer._latlngs);
        startLoading();
        plotFilteredTrips(requestObj);
      }

      function getPolygonJsonArray(latlongArray){
        var resultJson = [];
        for(var obj in latlongArray)
        {
          var json = [];
          json.push(latlongArray[obj].lng);
          json.push(latlongArray[obj].lat);
          resultJson.push(json);
        }

        if(resultJson.length > 0){
          var json = [];
          json.push(resultJson[0][0]);
          json.push(resultJson[0][1]);
          resultJson.push(json);
        }
        console.log(resultJson);
        return resultJson;
      }

      function plotFilteredTrips(json){
        if(featureLayer != null){
          featureLayer.clearLayers();
        }
        featureLayer = L.mapbox.featureLayer()
          .loadURL('http://localhost:8080/v1/draw/trip?polygon=' + json)
          .addTo(map)
          .on('ready', finishedLoading);
      }

      function startLoading() {
        loader.className = 'show';
      }

      function finishedLoading() {
        // first, toggle the class 'done', which makes the loading screen
        // fade out
        //loader.className = 'done';
        setTimeout(function() {
          // then, after a half-second, add the class 'hide', which hides
          // it completely and ensures that the user can interact with the
          // map again.
          loader.className = 'hide';
        }, 500);
      }
    </script>
  </div>
</div>

