<div class="row">
  <div class="dropdown col-sm-4">
    <div class="form-group">
      <strong>From Date:</strong>
      <div class='input-group date' id='datetimepickerFromDateTrip'>
        <input type='text' class="form-control" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
      </div>
    </div>
  </div>
  <div class="dropdown col-sm-4">
    <div class="form-group">
      <strong>To Date:</strong>
      <div class='input-group date' id='datetimepickerToDateTrip'>
        <input type='text' class="form-control" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
      </div>
    </div>
  </div>
  <button id="fetchBtn" type="button" class="btn btn-primary" style="margin-left: 2%; margin-top: 15px;">Fetch</button>
</div>


<table class="table table-striped">
  <thead>
  <th>Start Time</th>
  <th>End Time</th>
  <th>Pickup Point</th>
  <th>Dropdown Point</th>
  </thead>
  <tbody>
  <tr ng-repeat="trip in trips">
    <td>{{ trip.startTime }}</td>
    <td>{{ trip.endTime }}</td>
    <td>{{ trip.pickupPoint.coordinates[1] }}, {{ trip.pickupPoint.coordinates[0] }}</td>
    <td>{{ trip.dropdownPoint.coordinates[1] }}, {{ trip.dropdownPoint.coordinates[0] }}</td>
  </tr>
  </tbody>
</table>
